/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/08/2020, 10:58:46 AM
    Author     : david
*/
/*Colores en niveles de la contraseña*/
.Short {
    width: 100%;
    background-color: #dc3545;
    height: 2px;
    color: #dc3545;
    font-weight: 500;
    font-size: 0.8rem;
}
.Weak {
    width: 100%;
    background-color: #ffc107;
    height: 2px;
    color: #ffc107;
    font-weight: 500;
    font-size: 12px;
}
.Good {
    width: 100%;
    background-color: #28a745;
    height: 2px;
    color: #28a745;
    font-weight: 500;
    font-size: 0.8rem;
}
.Strong {
    width: 100%;
    background-color: #d39e00;
    height: 2px;
    color: #d39e00;
    font-weight: 500;
    font-size: 0.8rem;
}
/*Posicion del icono y que sea clicky*/
.password-icon {
    float: right;
    position: relative;
    margin: -25px 10px 0 0;
    cursor: pointer;
}
