/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/06/2020, 05:07:21 PM
    Author     : julia
*/

header{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(46,100,254,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(46,100,254,1)));
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(46,100,254,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(46,100,254,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(46,100,254,1) 100%);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(46,100,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2e64fe', GradientType=1 );
    padding-top: 0.1rem;
    font-family: 'Averia Libre', cursive;
}

h2#titulo{
    margin-top: 0.5rem;
    color: #ffffff;
    margin-bottom: 0rem;
    text-shadow:5px 5px 10px #000000;
}

body{
    background-color: #E6E6E6;
}

img#logo{
    min-width: 5rem;
    max-width: 5rem;
    width: 100%;
    border: 0.3rem solid #fff;
    border-radius: 0.8rem;
}

