/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/06/2020, 05:07:21 PM
    Author     : julia
*/

body{
    background-color: #E6E6E6;
}

img#logo{
    position: static;
    left: 1rem;
    display: block;
    max-width : 3rem;
    width: 100%;
    border: 0.1rem solid #fff;
    border-radius: 0.3rem;
    margin-right: 0.4rem;
}

h1#nombre{
    position: absolute;
    right: 0rem;
    text-align: center;
    display: block;
    max-width : 10rem;
    width: 100%;
    padding-top: 1.5rem;
}

/*Botones input number*/ 
.floating-action-button {
    display: block;
    position: fixed;
    width: 70px;
    height: 70px;
    padding-left: 0rem;
    padding-right: 0rem;
    border-radius: 50px;
    line-height: 4.5rem;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;
}
.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: texfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    text-align: center;
}

.number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: .25rem;
}

.number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
}

.number-input.number-input button.minus {
    padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
}

.number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
}
/*Flex*/
.flex-1 {
flex: 1;
}
/*Boton redondo*/
.btnRedondo{
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: auto;
    cursor: pointer;
}
.bordes{
    padding: 0rem;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {

        .number-input.def-number-input.safari_only button:before,
            .number-input.def-number-input.safari_only button:after {
            margin-top: -.3rem;
        }
    }
}