/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/06/2020, 05:07:21 PM
    Author     : julia
*/

body{
    background-color: #E6E6E6;
}

img#logo{
    position: static;
    left: 1rem;
    display: block;
    max-width : 3rem;
    width: 100%;
    border: 0.1rem solid #fff;
    border-radius: 0.3rem;
    margin-right: 0.4rem;
}

h1#nombre{
    position: absolute;
    right: 0rem;
    text-align: center;
    display: block;
    max-width : 10rem;
    width: 100%;
    padding-top: 1.5rem;
}

.floating-action-button {
    display: block;
    position: fixed;
    width: 70px;
    height: 70px;
    padding-left: 0rem;
    padding-right: 0rem;
    border-radius: 50px;
    line-height: 4.5rem;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;
}
.bordes{
    padding: 0rem;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}